section#global-footer.footer
      footer.footer
        .footer-container
          #footer-long-text.footer-text-container.col-md-8.col-centered.row
            .col-md-3.footer-col
              h3.footer-links Use Eventbrite
              p.footer-text How It Works
              p.footer-text
                | For Large & Complex Events 
                br
              p.footer-text Pricing
              p.footer-text Community Guidelines
              p.footer-text Eventbrite Mobile App
              p.footer-text Eventbrite Check-in App
              p.footer-text Eventbrite Spectrum
              p.footer-text Rally - Fun Things To Do
              p.footer-text Event Organizing Resources
              p.footer-text Sitemap
            .col-md-3.footer-col
              h3.footer-links Plan Event
              p.footer-text Conference Management Software
              p.footer-text Reunions
              p.footer-text Nonprofits & Fundraisers
              p.footer-text Eventbrite Reviews
              p.footer-text Sell Tickets
              p.footer-text Event Management & Planning
              p.footer-text Online Event Registration
              p.footer-text Online RSVP
              p.footer-text Venue Booking & Management
              p.footer-text Event Promotion
            .col-md-3.footer-col
              h3.footer-links Fine Events
              p.footer-text Boston Events
              p.footer-text Chicago Events
              p.footer-text Denver Events
              p.footer-text Houston Events
              p.footer-text Los Angeles Events
              p.footer-text Nashville Events
              p.footer-text New York Events
              p.footer-text San Diego Events
              p.footer-text San Francisco Events
              p.footer-text All Cities
            .col-md-3.footer-col
              h3.footer-links Connect With Us
              p.footer-text Contact Support
              p.footer-text Contact Sale>
              p.footer-text Twitter
              p.footer-text Facebook
              p.footer-text Linkedin
              p.footer-text Instagram
              p.footer-text Google+
          .col-md-8.col-centered
            hr
            h3.footer-links Country
            p#countries.footer-text.text-indent
              | Argentina      Australia     Brasil      Canada(EN)      Canada(FR)      Chile     Colombia      Deutschland     Espana      France      Hongkong      Ireland     Italia      Mexico      Nederland     New Zealand     Peru    Portugal      Singapore     United Kingdom      United States
            hr
          .col-md-8.col-centered
            h3.footer-links.text-indent
              | About      Blog      Help      Careers     Press     Security      Developers      Terms     Privacy     Cookies
            select.custom-select.form-control-lg
              option(selected='') United States
              option(value='1') Argentina
              option(value='2') Australia
              option(value='3') Brasil
              option(value='4') Canada(EN)
              option(value='5') Canada(FR)
              option(value='6') Deutschland
              option(value='7') Espana
              option(value='8') France
              option(value='9') Hong Kong
              option(value='10') Ireland
              option(value='11') Italia