extends ../layout

block content
  .container
    h1 List
    p 전 세계의 독특한 숙소를 예약하고 현지인의 삶을 살아보세요. 
      .row
      each room in rooms
        a(href="/rooms/#{room._id}")
          .col-sm-8.col-md-4(style="float:left; margin: 20px 0px;")
            .thumbnail
              img(src='images/bg.jpg' alt="사진")
            .caption
              h3Thumbnail="￦"+room.price +" "+ room.city+"에 위치한 집" 