extends ../layout

block flash
  .cover-img(style="background-image: url('#{room.filePath}')")

block content
  #messages
  .container
    .row
      .col-md-8
        include ./room-main
      .col-md-4#room-side
        include ./room-side
  include ../includes/footer


  
  
